.footer {
  background-color: #245852;
  height: 654px;
  padding: 104px 0 144px;
  color: white;
}
.footer-content {
  /* margin-top: 104px; */
}
.footer-logo {
}
.footer-logo + * {
  margin-top: 74px;
}
.footer-nav {
  font-size: 25px;
  font-weight: 600;
}
.footer-nav a {
  transition: opacity 0.3sec ease-in;
}
.footer-nav a:hover {
  opacity: 0.8;
}
.footer-nav li + li {
  margin-top: 60px;
}
@media (max-width: 1399px) {
  .footer-nav {
    font-size: 22px;
  }
  .footer-nav li + li {
    margin-top: 40px;
  }
  .footer {
    padding: 80px 0 100px;
  }
  .footer-logo + * {
    margin-top: 50px;
  }
}

@media (max-width: 499px) {
  .footer-logo + * {
    margin-top: 40px;
  }
  .footer-nav li + li {
    margin-top: 30px;
  }
  .footer {
    padding: 40px 0 60px;
    height: 500px;
  }
  .footer-nav {
    font-size: 18px;
  }
}
