.story {
  background-color: #245852;
  color: white;
  padding: 229px 0 176px;
}

.storyRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-content {
  margin-right: 30px;
  max-width: 580px;
}

.story-content-head {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  margin-bottom: 33px;
}
.story-content-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 57px;
}
.story-video {
  width: 895px;
  position: relative;
}

.story-video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.story-video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s ease;
}

.story-video-object {
}
